# Pandas

### ¿Qué es Pandas?

Pandas es una librería para el manejo de datos atraves de las siguientes estructuras:


1.- Series

2.- DataFrame

3.- Panel

In [2]:
#Código Básico para pandas..
import pandas as pd
import numpy as np

#código básico para Series:

# Desde un diccionario...
nombre = ["javier","roy","mirian", "alex", "edin", "edit"]
apellidos = ["Tiburcio","Tiburcio","Tiburcio","Tiburcio","Tiburcio","Tiburcio"]
bd ={"Nombre": nombre, "Apellidos": apellidos}

data2 = pd.Series(bd)
print(data2)
print(type(data2))
print("\n"*3)


# Desde un Array......
data3 = pd.Series(index = apellidos, data = nombre)
print(data3)
print(type(data3))

Nombre                 [javier, roy, mirian, alex, edin, edit]
Apellidos    [Tiburcio, Tiburcio, Tiburcio, Tiburcio, Tibur...
dtype: object
<class 'pandas.core.series.Series'>




Tiburcio    javier
Tiburcio       roy
Tiburcio    mirian
Tiburcio      alex
Tiburcio      edin
Tiburcio      edit
dtype: object
<class 'pandas.core.series.Series'>

### Formas de crear e ingresar a Series

Creación de una Serie atraves de una Lista.

In [94]:
indice = list(range(1,10))
indice2 = list(range(1,10))
# indicefinal = [indice, indice2]
# array_numeros = np.array(indicefinal)
serie_numeros = pd.Series(index = indice, data = indice2)
print(serie_numeros)


vocales = ['a','e','i','o','u','m']
array_vocales = np.array(vocales)
series_vocal = pd.Series(array_vocales)
print(array_vocales)

1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
['a' 'e' 'i' 'o' 'u' 'm']

In [93]:
 
# Creaión a partir de un Diccionario...
dictionary = {'A' : [10, 11], 'B' : [20,12], 'C' : [30,12] } 
series = pd.Series(dictionary)
print(series)

A    [10, 11]
B    [20, 12]
C    [30, 12]
dtype: object

### Accesos a alas Series

In [108]:
vocal = ['a','b','c','e','f','g']
numero = [1,2,3,4,5,6]
array_vocal = np.array(vocal)

serie_vocal = pd.Series(data =array_vocal, index = numero)
serie_vocal2 = pd.Series(index =array_vocal, data = numero)


#Accediendo a los Indices....
print(serie_vocal.index)
print(serie_vocal2.index)

print("\n")

#Accediendo a los datos del array...

print(serie_vocal[:3])
print(serie_vocal.head())


print(serie_vocal2[:3])
print(serie_vocal2.head())
print(serie_vocal2['f'])
# metodos .loc e .iloc

Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')
Index(['a', 'b', 'c', 'e', 'f', 'g'], dtype='object')


1    a
2    b
3    c
dtype: object
1    a
2    b
3    c
4    e
5    f
dtype: object
a    1
b    2
c    3
dtype: int64
a    1
b    2
c    3
e    4
f    5
dtype: int64
5

#### Acceso Multiple a los datos

Se puede realizar atraves de listas multiples....

In [112]:
serie_vocal[[2,4,1]]

2    b
4    e
1    a
dtype: object

## DataFrame

El dataFrame es una estructura de datos que son parecidas a las tablas y tienen gran utilidad para el analisis de datos.

In [123]:
#Creación Dataframe a traves de diccionario

diccionario = {
                'invierno': pd.Series(data = [100., 200., 300.], index = ['manzana','pera','naranja']),
                'primavera': pd.Series(data = [111.,222.,333.,444.], index = ['manzana','pera','cereza','uva'])
                }

data = pd.DataFrame(diccionario)
data

         invierno  primavera
cereza        NaN      333.0
manzana     100.0      111.0
naranja     300.0        NaN
pera        200.0      222.0
uva           NaN      444.0

In [3]:

#Creación Dataframe:
datos ={"nombre" : ["javier","roy", "mimi"], "edad":[26,28,14] }
data = pd.DataFrame(datos)
data

   nombre  edad
0  javier    26
1     roy    28
2    mimi    14

In [121]:
#código básico para Series:
nombre = ["javier","roy","mirian", "alex", "edin", "edit"]
apellidos = ["Tiburcio","Tiburcio","Tiburcio","Tiburcio","Tiburcio","Tiburcio"]
indice = [1,2,3,4,5,6]
bd ={"Nombre": nombre, "Apellidos": apellidos}


data2 = pd.DataFrame(bd)
data2
type(data2)

   Nombre Apellidos
0  javier  Tiburcio
1     roy  Tiburcio
2  mirian  Tiburcio
3    alex  Tiburcio
4    edin  Tiburcio
5    edit  Tiburcio